@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box
}
body::-webkit-scrollbar{
  width: 0px;
}

.tooltip {
  @apply relative;
}

.tooltip::after {
  @apply absolute bg-gray-100 text-gray-600 py-1 px-2 rounded text-xs;
  content: attr(data-tooltip);
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover::after {
  @apply opacity-100;
}

@media screen and (max-width: 720px){
  .span{
    display: none;
  }
}

.img{
  background-image: url('/src/static/img/pexels-iriser-1408221\ \(2\).jpg');
}

.login{
  background-image: url('/src/static//img/pexels-iriser-1408221\ \(2\).jpg');
}

.register{
  background-image: url('/src/static/img/pexels-iriser-1408221\ \(2\).jpg');
}